<div class="col-md-5 ">
                                <h3 class="title-2"><i class="icon-search-1"></i> Más Populares </h3>

                                <div class="row">
                                    <ul class="cat-list col-md-4 col-xs-4 col-xxs-6">
                                        <li><a href="">free </a></li>
                                        <li><a href="">furniture </a></li>
                                        <li><a href="">general </a></li>
                                        <li><a href="">household </a></li>
                                        <li><a href="">jewelry </a></li>
                                        <li><a href="">materials </a></li>
                                        <li><a href="">sporting </a></li>
                                        <li><a href="">tickets </a></li>
                                    </ul>
                                    <ul class="cat-list col-md-4 col-xs-4 col-xxs-6">
                                        <li><a href="">tools </a></li>
                                        <li><a href="">wanted </a></li>
                                        <li><a href="">cell phones </a></li>
                                        <li><a href="">clothes+acc </a></li>
                                        <li><a href="">collectibles </a></li>
                                        <li><a href="">electronics </a></li>
                                        <li><a href="">farm+garden </a></li>
                                        <li><a href="">garage sale </a></li>
                                    </ul>
                                    <ul class="cat-list col-md-4 col-xs-4 col-xxs-6">
                                        <li><a href="">heavy equip </a></li>
                                        <li><a href="">motorcycles </a></li>
                                        <li><a href="">music instr </a></li>
                                        <li><a href="">photo+video </a></li>
                                        <li><a href="">appliances </a></li>
                                        <li><a href="">Land </a></li>
                                        <li><a href="">arts+crafts </a></li>
                                        <li><a href="">auto parts </a></li>
                                    </ul>

                </div>
        </div>