<div class="col-md-6 ">
                                <h3 class="title-2"><i class="icon-search-1"></i> Popular Makes </h3>

                                <div class="row">
                                    <ul class="cat-list col-md-4 col-xs-4 col-xxs-6">
                                        <li><a href="category.html">free </a></li>
                                        <li><a href="category.html">furniture </a></li>
                                        <li><a href="category.html">general </a></li>
                                        <li><a href="category.html">household </a></li>
                                        <li><a href="category.html">jewelry </a></li>
                                        <li><a href="category.html">materials </a></li>
                                        <li><a href="category.html">sporting </a></li>
                                        <li><a href="category.html">tickets </a></li>
                                    </ul>
                                    <ul class="cat-list col-md-4 col-xs-4 col-xxs-6">
                                        <li><a href="category.html">tools </a></li>
                                        <li><a href="category.html">wanted </a></li>
                                        <li><a href="category.html">cell phones </a></li>
                                        <li><a href="category.html">clothes+acc </a></li>
                                        <li><a href="category.html">collectibles </a></li>
                                        <li><a href="category.html">electronics </a></li>
                                        <li><a href="category.html">farm+garden </a></li>
                                        <li><a href="category.html">garage sale </a></li>
                                    </ul>
                                    <ul class="cat-list col-md-4 col-xs-4 col-xxs-6">
                                        <li><a href="category.html">heavy equip </a></li>
                                        <li><a href="category.html">motorcycles </a></li>
                                        <li><a href="category.html">music instr </a></li>
                                        <li><a href="category.html">photo+video </a></li>
                                        <li><a href="category.html">appliances </a></li>
                                        <li><a href="category.html">Land </a></li>
                                        <li><a href="category.html">arts+crafts </a></li>
                                        <li><a href="category.html">auto parts </a></li>
                                    </ul>

                </div>
        </div>